{% extends "coplate_base/base_with_navbar.html" %}

{% load static %}
{% load widget_tweaks %}
{% load custom_filters %}

{% block title %}{{ cafe.name }} | Drip-Shot{% endblock title %}

{% block content %}
<main class="site-body">
  <article class="review-detail max-content-width">
    <!-- 카페 정보 표시 -->
    <div class="review-info">
      <div class="restaurant-name">
        <span class="cp-chip green">{{ cafe.name }}</span>
      </div>
      <h1 class="title">{{ cafe.title }}</h1>
      <a class="review-author" href="{% url 'profile' cafe.author.id %}">
        <div class="author">
          <!-- 작성자 정보 표시 -->
        </div>
      </a>
      <date class="date">{{ cafe.dt_created|date:"Y년 n월 j일" }}</date>
    </div>

    <!-- 이미지 캐러셀 -->
    <div class="content">
      <div class="carousel">
        <div class="images">
          <img class="full" src="{{ cafe.image1.url }}">
          {% if cafe.image2 %}
            <img class="full hidden" src="{{ cafe.image2.url }}">
          {% endif %}
          {% if cafe.image3 %}
            <img class="full hidden" src="{{ cafe.image3.url }}">
          {% endif %}
          {% if cafe.image4 %}
            <img class="full hidden" src="{{ cafe.image4.url }}">
          {% endif %}
          {% if cafe.image5 %}
            <img class="full hidden" src="{{ cafe.image5.url }}">
          {% endif %}
          <img class="carousel-button prev" src="{% static 'coplate/icons/ic-prev.svg' %}">
          <img class="carousel-button next" src="{% static 'coplate/icons/ic-next.svg' %}">
        </div>
      </div>
    </div>

    <!-- 평점 및 카페 설명 -->
    <div class="rating">
      {% if cafe.rating is not None %}
        {{ cafe.rating|star_rating }}
      {% else %}
        No rating available
      {% endif %}
    </div>
    <p class="content">{{ cafe.content|linebreaksbr }}</p>
    <a class="location" target="_blank" href="{{ cafe.address_url }}">
      <img class="cp-icon" src="{% static 'coplate/icons/ic-pin.svg' %}" alt="Pin Icon">
      <span>위치보기</span>
    </a>

    <!-- Dripshots 표시 -->
    <div class="dripshots-section">
      <h2>Dripshots</h2>
      <div class="dripshots-list">
        {% for dripshot in cafe.dripshots.all %}
          <a href="{% url 'dripshot-detail' dripshot.pk %}">
            <section class="cp-card dripshot-content">
              <!-- 이미지가 있는 경우에만 배경 이미지로 설정 -->
              {% if dripshot.image1 %}
                <div class="thumb" style="background-image: url('{{ dripshot.image1.url }}');"></div>
              {% else %}
                <div class="thumb"></div> <!-- 이미지가 없을 경우 빈 div 또는 기본 배경 -->
              {% endif %}
    
              <div class="body">
                <!-- Dripshot 제목 -->
                <h3 class="title">{{ dripshot.title }}</h3>
    
                <!-- Dripshot 내용 -->
                <p class="content">{{ dripshot.content|truncatewords:15 }}</p>
                <div class="rating">
                  {% if dripshot.rating is not None %}
                    {{ dripshot.rating|star_rating }}
                  {% else %}
                    No rating available
                  {% endif %}
                </div>
                <div class="author-info">
                  <div class="author-avatar" style="background-image: url('{{ dripshot.author.profile_pic.url }}');"></div>
                  <p class="author-name">{{ dripshot.author.name }}</p>
                </div>
              </div>
            </section>
          </a>
        {% endfor %}
      </div>
    </div>

    <!-- 좋아요 및 댓글 섹션 -->
    <div class="like-comment-block">
      <div class="like-comment-header">
        <form action='{% url "process-like" cafe_ctype_id cafe.pk %}' method='post'>
          {% csrf_token %}
          <button class="like-button" type="submit" data-login-required>
            {% if likes_cafe %}
              <img width="21px" src="{% static 'coplate/icons/ic-heart-orange.svg' %}" alt="filled like icon">
            {% else %}
              <img width="21px" src="{% static 'coplate/icons/ic-heart.svg' %}" alt="like icon">
            {%endif%}
            <span> 좋아요 {{cafe.likes.count}}</span>
          </button>
        </form>
        <div class="comment-info">
          <img src="{% static 'coplate/icons/ic-comment.svg' %}" alt="comment icon">
          <span> 댓글 {{cafe.comments.count}}</span>
        </div>
      </div>
      
      <!-- 댓글 작성 섹션 -->
      <form class="comment-create-form" action="{% url 'comment-create' cafe.pk %}" method="post">
        {% csrf_token %}
        {% if user.is_authenticated %}
          {{ form.content|attr:"placeholder:댓글 내용을 입력해주세요."|add_class:"cp-input" }}
          <button class="cp-button small" type="submit">등록</button>
        {% else %} 
          <a href="{% url 'account_login' %}?next={% url 'cafe-detail' cafe.pk %}">
            {{ form.content|attr:"placeholder:댓글을 작성하려면 로그인이 필요합니다."|add_class:"cp-input"|attr:"disabled" }}
          </a>
          <button class="cp-button small secondary" type="submit" disabled>등록</button>
        {% endif %}
      </form>

      <!-- 댓글 목록 -->
      <div class="comment-list">
        {% for comment in cafe.comments.all %}
          <div class="comment">
            <div class="comment-header">
              <a href="{% url 'profile' comment.author.id %}">
                <div class="author">
                  <div class="cp-avatar" style="background-image: url('{{ comment.author.profile_pic.url }}')"></div>
                  <span>{{ comment.author.name }}</span>
                </div>
              </a>
              {% if user == comment.author %}
                <div class="buttons">
                  <a href="{% url "comment-delete" comment.pk %}">삭제</a>
                  <span> | </span>
                  <a href="{% url "comment-update" comment.pk %}">수정</a>
                </div>
              {% endif %}
            </div>
            <div class="comment-content">
              {{ comment.content|linebreaksbr }}
            </div>
            <div class="comment-footer">
              <div class="comment-date">
                {{ comment.dt_created|date:"Y년 n월 j일" }}
              </div>
                <form action='{% url "process-like" comment_ctype_id comment.pk %}' method='post'>
                  {% csrf_token %}
                  <button class="like-button" type="submit" data-login-required>
                    {% if comment in liked_comments %}
                      <img width="21px" src="{% static 'coplate/icons/ic-heart-orange.svg' %}" alt="like icon">
                    {% else %}
                      <img width="21px" src="{% static 'coplate/icons/ic-heart.svg' %}" alt="like icon">
                    {%endif%}
                    <span> 좋아요 {{comment.likes.count}}</span>
                  </button>
                </form>
                
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- 카페 수정 및 삭제 버튼 -->
    {% if cafe.author == user %}
      <div class="footer">
        <div class="buttons">
          <a class="cp-button warn" href="{% url 'cafe-delete' cafe.pk %}">삭제</a>
          <a class="cp-button secondary" href="{% url 'cafe-update' cafe.pk %}">수정</a>
        </div>
      </div>
    {% endif %}
  </article>
</main>
{% endblock content %}
{% block js %}
<script>
  const isAuthenticated = '{{user.is_authenticated}}' === 'True';
</script>
<script src="{% static 'coplate/js/auth.js' %}"></script>
<script src="{% static 'coplate/js/carousel.js' %}"></script>

{% endblock js %}