{% extends "coplate_base/base_with_navbar.html" %}

{% block title %}Upload an Image for Classification | Coplate{% endblock title %}

{% block content %}
<main class="image-upload-body">
  <div class="image-upload-content-list">
    <div class="image-upload-header">
      <h2>Upload an Image for Classification</h2>
    </div>

    <div class="image-upload-form">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="image-upload-form-group">
          {{ form.as_p }}
        </div>
        <div class="image-upload-buttons">
          <button type="submit" class="image-upload-button submit">Upload and Classify</button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock content %}
