{% extends "coplate_base/base_with_navbar.html" %}

{% load widget_tweaks %}

{% block title %}
{% if dripshot %}{{ dripshot.title }}{% else %}새 리뷰 작성{% endif %} | Drip-Shot
{% endblock title %}

{% block content %}
<main class="site-body">
  <form class="review-form max-content-width" method="post" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="title">
      {{ form.title|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:제목" }}
      {% for error in form.title.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="cafe-select">
      {{ form.cafe|add_class:"cp-input select2"|add_error_class:"error"|attr:"id:cafe-select,placeholder:카페를 선택해주세요" }}
      {% for error in form.cafe.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="content">
      {{ form.content|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:내용을 입력해주세요" }}
      {% for error in form.content.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="rating">
      {{ form.rating|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:평점 선택" }}
      {% for error in form.rating.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="file">
      <div class="file-content">
        {{ form.image1 }}
        {% for error in form.image1.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
    </div>

    <!-- 여기에 추가 이미지 업로드 필드들 -->

    <div class="buttons">
      <a 
        class="cp-button secondary cancel" 
        href="{% if review %}{% url 'review-detail' review.id %}{% else %}{% url 'index' %}{% endif %}"
      >
        취소
      </a>
      <button class="cp-button submit" type="submit">완료</button>
    </div>
  </form>
</main>
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
      $('#cafe-select').select2({
          placeholder: '카페를 선택해주세요',
          allowClear: true
      });
  });
</script>
{% endblock js %}
