{% extends "coplate_base/base_with_navbar.html" %}

{% load static %}
{% block content %}
<main class="site-body index">
  <div class="main-header">
    <div class="fg"></div>
    <div class="content">
      <h1></h1>
      <div class="header-search">
        <form class="search-form" action="{% url 'search' %}" method="get">
          <input class="search-input" name="query" type="text" placeholder="식당, 음식 등을 검색해보세요" required>
          <button class="cp-button search-button" type="submit">검색</button>

          <button type="button" class="search-image-button" style="margin-left: 10px; background: none; border: none; cursor: pointer;">
            <img src="{% static 'path/to/your/image.jpg' %}" alt="Search Image" style="height: 40px; width: 40px; border-radius: 50%;">
          </button>
        </form>
      </div>
      <div class="keyword-list">
        {% for keyword in cafe_keywords %}
          <a href="{% url 'search' %}?query={{ keyword }}" class="cp-chip-keyword green">{{ keyword }}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="content-list max-content-width">
    <div class="header">
      <h2>오늘의 드립샷</h2>
      <a class="cp-ic-button circle newreview" href="{% url 'dripshot-main-list' %}" data-login-required>더보기</a>
    </div>
    {% include "components/dripshot_list.html" with drip_shots=drip_shot_review empty_message="아직 리뷰가 없어요:(" %}
    {% if latest_reviews %}
      <!-- Add content here if there are latest_reviews -->
    {% endif %}
  </div>

  <!-- index.html -->
<div class="content-list max-content-width">
  <div class="header">
      <div class="header-content">
          <h2>내 스타일 카페는?</h2>
          <div class="keywords">
              {% for keyword in user_keywords %}
                  <span class="keyword">{{ keyword.keyword }}</span>
              {% empty %}
                  <span class="keyword">키워드 없음</span>
              {% endfor %}
          </div>
      </div>
      <a class="cp-ic-button circle newreview" href="{% url 'style-cafe-list' %}" data-login-required>더보기</a>
  </div>
  {% include "components/style_cafe_list.html" with style_cafe=style_cafe empty_message="아직 리뷰가 없어요:(" %}
</div>


  <div class="content-list max-content-width">
    <div class="header">
      <h2>내 주변 카페</h2>
      <a class="cp-ic-button circle newreview" href="{% url 'around-list' %}" data-login-required>더보기</a>
    </div>
    {% include "components/around_list.html" with cafes=cafes empty_message="아직 리뷰가 없어요:(" %}
  </div>
</main>
{% endblock content %}

{% block js %}
<script>
  const isAuthenticated = '{{ user.is_authenticated }}' === 'True';
</script>
<script src="{% static 'coplate/js/auth.js' %}"></script>
{% endblock js %}
