{% extends "coplate_base/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}환영합니다! | Coplate{% endblock title %}

{% block content %}
<div class="account-background">
  <main class="profile-form">
    <div class="logo">
      <img class="logo" src="{% static 'coplate/assets/coplate-logo.svg' %}" alt="Coplate Logo">
    </div>
    <p class="welcome-message">
      환영합니다! <strong>프로필</strong>을 작성해주세요
    </p>
    <form method="post" enctype="multipart/form-data" autocomplete="off">
      {% csrf_token %}
      <div class="profile">
        <div class="profile-pic cp-avatar large" style="background-image: url('{{ user.profile_pic.url }}')"></div>
        <div class="file">
          {{ form.profile_pic }}
        </div>
      </div>
      <div class="name">
        {{ form.name|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:닉네임" }}
        {% for error in form.name.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="gender">
        {{ form.gender|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:자신을 소개해 주세요!" }}
        {% for error in form.gender.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="birth_date">
        {{ form.birth_date|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:자신을 소개해 주세요!" }}
        {% for error in form.birth_date.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="recommend_location">
        {{ form.recommend_location|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:역이름" }}
        {% for error in form.recommend_location.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      
      <div class="style_keywords">
        <ul>
            {% for checkbox in form.style_keywords %}
                <li>
                    {{ checkbox.tag }}
                    <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                </li>
            {% endfor %}
        </ul>
        {% for error in form.style_keywords.errors %}
            <div class="error-message">{{ error }}</div>
        {% endfor %}
    </div>
    
    

      <div class="buttons">
        <button class="cp-button" type="submit">완료</button>
      </div>
    </form>
  </main>
</div>
{% endblock content %}
{% block js %}
<script>
  // 최대 선택 가능한 체크박스 수
  const maxSelection = 3;

  // 모든 체크박스 요소 가져오기
  const checkboxes = document.querySelectorAll('.style_keywords input[type="checkbox"]');

  checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', () => {
      const checkedCount = document.querySelectorAll('.style_keywords input[type="checkbox"]:checked').length;

      // 선택된 체크박스 수가 최대치를 넘으면, 체크 해제 처리
      if (checkedCount > maxSelection) {
        checkbox.checked = false;
        alert(`최대 ${maxSelection}개의 스타일만 선택할 수 있습니다.`);
      }
    });
  });
</script>
{% endblock js %}