{% extends "coplate_base/base_with_header.html" %}

{% load widget_tweaks %}

{% block title %}프로필 수정 | Coplate{% endblock title %}

{% block content %}
<main class="profile-form">
  <form method="post" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <div class="profile">
      <div class="profile-pic cp-avatar large" style="background-image: url('{{ user.profile_pic.url }}')"></div>
      <div class="file">
        {{ form.profile_pic }}
      </div>
    </div>
    <div class="nickname">
      {{ form.name|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:닉네임" }}
      {% for error in form.name.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="recommend_location">
      {{ form.recommend_location|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:역이름" }}
      {% for error in form.recommend_location.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="style_keywords">
      <ul>
        {% for checkbox in form.style_keywords %}
          <li>
            {{ checkbox.tag }}
            <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
          </li>
        {% endfor %}
      </ul>
      {% for error in form.style_keywords.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="buttons">
      <a class="cp-button secondary cancel" href="{% url 'profile' pk=user.pk %}">취소</a>
      <button class="cp-button" type="submit">완료</button>
    </div>
  </form>
</main>
{% endblock content %}

{% block js %}
<script>
  const maxSelection = 3;
  const checkboxes = document.querySelectorAll('.style_keywords input[type="checkbox"]');

  checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', () => {
      const checkedCount = document.querySelectorAll('.style_keywords input[type="checkbox"]:checked').length;

      if (checkedCount > maxSelection) {
        checkbox.checked = false;
        alert(`최대 ${maxSelection}개의 스타일만 선택할 수 있습니다.`);
      }
    });
  });
</script>
{% endblock js %}
