{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'coplate/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'coplate/styles/theme.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'coplate/favicon/favicon.ico' %}">
    <!-- jQuery 추가 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- 그 다음에 select2.js 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <title>{% block title %}Drip Shot{% endblock title %}</title>
  </head>
  <body>
    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
    {% block js %}{% endblock js %}
  </body>
</html>
