{% load custom_filters %}

<div class="contents-around">
  {% for cafe in cafes %}
    <a href="{% url 'cafe-detail' pk=cafe.pk %}">
      <section class="cp-card-around content">
        <!-- 이미지가 있는 경우에만 배경 이미지로 설정 -->
        {% if cafe.image1 %}
          <div class="around" style="background-image: url('{{ cafe.image1.url }}');"></div>
        {% else %}
          <div class="around"></div> <!-- 이미지가 없을 경우 빈 div 또는 기본 배경 -->
        {% endif %}
        
        <div class="body">
          <!-- 카페 이름 -->
          <span class="cp-chip green">{{ cafe.name }}</span>
          
          <!-- 카페 주소 -->
          <h2 class="title">{{ cafe.address }}</h2>
          
          <!-- 생성 날짜 -->
          <date class="date">{{ cafe.dt_created|date:"Y년 n월 j일" }}</date>
          
          <!-- 리뷰 평점 -->
          <div class="rating">
            {% if cafe.rating is not None %}
              {{ cafe.rating|star_rating }}
            {% else %}
              No rating available
            {% endif %}
          </div>
        </div>
      </section>
    </a>
  {% endfor %}
</div>
