<div class ="content-list"> <!-- 이렇게 감싸줘야 함 -->

    <div class="contents-around">
      {% for review in reviews %}
        <a href="{% url 'review-detail' review.id %}">
          <section class="cp-card content-around">
            <div class="around" style="background-image: url('{{ review.image1.url }}');"></div>
            <div class="body">
              <div class="author">
                <div class="cp-avatar" style="background-image: url('{{ review.author.profile_pic.url }}')"></div>
                <span>{{ review.author.nickname }}</span>
              </div>
              <h2 class="title">{{ review.title }}</h2><!-- 카페명 -->
            </div>
          </section>
        </a>
      {% empty %}
        <p class="empty">{{ empty_message }}</p>
      {% endfor %}
    </div>
    
  </div>