<div class="content-list">
  <div class="contents">
    {% for drip in drip_shot_review %}
      <a href="{% url 'dripshot-detail' drip.id %}">
        <section class="cp-card content">
          <div class="clothes" style="background-image: url('{{ drip.image1.url }}');"></div>
          <div class="body">
            <div class="author">
              <div class="cp-avatar" style="background-image: url('{{ drip.author.profile_pic.url }}')"></div>
              <span>{{ drip.author.name }}</span>
            </div>
            <h2 class="title">{{ drip.name }}</h2><!-- 카페명 -->
          </div>
        </section>
      </a>
    {% empty %}
      <p class="empty">{{ empty_message }}</p>
    {% endfor %}
  </div>
</div>
