<div class="custom-content-list">
  <div class="contents">
    {% for cafe in style_cafe %}
      <a href="{% url 'cafe-detail' pk=cafe.pk %}">
        <section class="cp-card content">
          <!-- 이미지가 있는 경우에만 배경 이미지로 설정 -->
          {% if cafe.image1 %}
            <div class="thumb" style="background-image: url('{{ cafe.image1.url }}');"></div>
          {% else %}
            <div class="thumb"></div> <!-- 이미지가 없을 경우 빈 div 또는 기본 배경 -->
          {% endif %}
          
          <div class="body">
            <!-- 카페 이름 -->
            <span class="cp-chip green">{{ cafe.name }}</span>
            
            <!-- 카페 주소 -->
            <h2 class="title">{{ cafe.address }}</h2>
            
            <!-- 생성 날짜 -->
            <date class="date">{{ cafe.dt_created|date:"Y년 n월 j일" }}</date>
            
            <!-- 스타일 키워드 표시 -->
            <div class="style-keywords">
              {% for keyword in cafe.style_keywords.all|slice:":3" %}
              <span class="cp-chip">{{ keyword }}</span>
              {% empty %}
                <span class="cp-chip">스타일 키워드가 없습니다</span>
              {% endfor %}
            </div>
          </div>
        </section>
      </a>
    {% endfor %}
  </div>
</div>
